<pre>
  {{paginaSelecionada | json}}
</pre>

<div>
    <input type="number" [(ngModel)]="funcaoSelecionada" placeholder="funcaoSelecionada">
    <input type="number" [(ngModel)]="indicePagina" placeholder="indicePagina">
    <input type="number" [(ngModel)]="indiceVercao" placeholder="indiceVercao">
    <input type="text" [(ngModel)]="tituloCadastro" placeholder="tituloCadastro">
    <input type="text" [(ngModel)]="conteudoCadastro" placeholder="conteudoCadastro">
    <button (click)="ativafuncao()">ativafuncao</button>
</div>

<div>
  <h1>{{paginaSelecionada!.titulo}}</h1>
  <span>{{versaoSelecionada!.conteudo}}</span>
  <br><font size="1"> Pagina criada por {{paginaSelecionada!.autor}} em {{paginaSelecionada!.dataCriacao}}</font><br>
  <font size="1"> Vercao criada por {{versaoSelecionada!.autor}} em {{versaoSelecionada!.dataCriacao}}</font>
</div>








<!--
<div>
  <input type="number" [(ngModel)]="indicePaginaPesquisa" placeholder="Índice da Página">
  <button (click)="buscarConteudoPagina()">Buscar Conteúdo da Página</button>
  <div *ngIf="conteudoAtivoPagina">
    <p>Conteúdo da Página:</p>
    <p>{{ conteudoAtivoPagina }}</p>
  </div>
</div>
-->
<p-toast></p-toast>