<div>
    <input type="number" [(ngModel)]="funcaoSelecionada" placeholder="funcaoSelecionada">
    <input type="number" [(ngModel)]="indicePagina" placeholder="indicePagina">
    <input type="number" [(ngModel)]="indiceVercao" placeholder="indiceVercao">
    <input type="text" [(ngModel)]="tituloCadastro" placeholder="tituloCadastro">
    <input type="text" [(ngModel)]="conteudoCadastro" placeholder="conteudoCadastro">
    <button (click)="ativafuncao(this.funcaoSelecionada)">Ativar função</button>
</div>

<pre>
  {{dados | json}}
</pre>

<p-toast></p-toast>