<div>
    <table>
      <tr>
        <td>Acao selecionada</td>
        <td>Indice selecionado</td>
        <td>Indice versao</td>
        <td>Titulo cadastro</td>
        <td>Conteudo cadastro</td>
        <td>Acão</td>
      </tr>
      <tr>
        <td><input type="number" [(ngModel)]="funcaoSelecionada"></td>
        <td><input type="number" [(ngModel)]="indicePagina"></td>
        <td><input type="number" [(ngModel)]="indiceVercao"></td>
        <td><input type="text" [(ngModel)]="tituloCadastro"></td>
        <td><input type="text" [(ngModel)]="conteudoCadastro"></td>
        <td><button (click)="ativafuncao(this.funcaoSelecionada)">Ativar função</button></td>
      </tr>
    </table> 

    <table>
      <tr>
        <td>Numero da acao |</td>
        <td>Retorno da acao |</td>
        <td>Descricao da acao</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
    </table> 

  
</div>

<pre>
  {{dados | json}}
</pre>

<p-toast></p-toast>